*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
  
}

body{
    background: black;
}

section{
    padding: 100px 200px;
}



header{
    z-index: 999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    background: white;
}

header.sticky{
   background: #3a6cf4;
   padding: 10px 200px; 
}

header .brand{
    color: #000;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation a{
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

header .navigation a:hover{
    color: #3a6cf4;
}

header.sticky .navigation a:hover{
color: #000;
}



.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}




 .about .content .col-left{
    position: relative;
    width: 45%;
}

.about .content .col-right{
   position: relative;
   width: 50%;
}

.about .content .col-left .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .col-left .img-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about .content .col-right .content-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
    color: #fff;
}


.about .content .col-right .paragraph-text{
    font-size: 1em;
    line-height: 21px;
    color: #fff;
}


.btn{
    color: #fff;
    background: #3a6cf4;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: 0.5s ease;
    margin-top: 10px;
}

.btn:hover{
    background: #fff;
    color: blue;
}





.section-title{
    position: relative;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 20px;
}




.skills{
    background: #010124;
}

.skills .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
}


.skills .content .col-left{
    position: relative;
    width: 46%;
    line-height: 27px;
}

.skills .content .col-right{
   position: relative;
   width: 46%;
}

.skills .content .col-right .bar{
    margin-bottom: 15px;
    padding: 10px;
}

.skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .content .col-right .bar .info span{
    font-size: 18px;
    font-weight: 500;
}


.skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
}


.skills .content .col-right .bar .line:before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
}

.skills .content .col-right .bar .html:before{
    width: 95%;
    background: #e45126;
}

.skills .content .col-right .bar .css:before{
   width: 80%;
   background: #0c73b8;
}


.skills .content .col-right .bar .javascript:before{
   width: 80%;
   background: #e3a324;
}

.skills .content .col-right .bar .react js:before{
   width: 75%;
   background: #30dd6d;
}

.skills .content .col-right .bar .excel:before{
   width: 95%;
   background: #6d7eb8;
}





.hobbies .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}


.title p{
    font-size: 1em;
    width: 80%;
}

.hobbies .content .card{
    background: #fff;
    width: 340px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 5px 25px rgba(1 1 1 / 15%); */
    border-radius: 10px;
}

.hobbies .content .card .hobbies-big{
    color: #3a6cf4;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    transition: transform 0.5s ease;
}

.hobbies .content .card:hover .hobbies-big{
    transform: translateY(-10px);
}


.hobbies .content .card{
    text-align: center;
}



 .hobbies{
    background: white;
}

.hobbies .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
} */


.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title-me{
    position: relative;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

/* .section-title:before{
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background: #3a6cf4;
    transform: translateX(-50%);
}


 .section-title:after{
     content: '';
     position: absolute;
     top: 50px;
     left: 50%;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background: #3a6cf4;
     transform: translateX(-50%);
 } */

 .title-me{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 











 .hobby .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}


.title p{
    font-size: 1em;
    width: 80%;
}

.hobby .content .card{
    background: #fff;
    width: 340px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
}

.hobby .content .card .hobby-big{
    color: #3a6cf4;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    transition: transform 0.5s ease;
}

.hobby .content .card:hover .hobby-big{
    transform: translateY(-10px);
}


.hobby .content .card{
    text-align: center;
}



 .hobby{
    background: blue;
}

.hobby .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}


.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title{
    color: #fff;
}